<div id="<%= dom_id activity %>" class="activity-details">
  <div class="activity-section">
    <div class="activity-stat">
      <span class="label">Distance:</span>
      <span class="value"><%= meters_to_miles(activity.distance) %> miles</span>
    </div>

    <div class="activity-stat">
      <span class="label">Time:</span>
      <span class="value"><%= activity.elapsed_time%></span>
    </div>

    <div class="activity-stat">
      <span class="label">Type:</span>
      <span class="value"><%= activity.activity_type %></span>
    </div>
  </div>

  <div class="activity-section">
    <div class="activity-stat">
      <span class="label">Heart Rate:</span>
      <span class="value">
        <%= activity.average_heart_rate %> bpm <%= activity.max_heart_rate %> bpm)
      </span>
    </div>

    <div class="activity-stat">
      <span class="label">Kudos:</span>
      <span class="value"><%= activity.kudos_count %></span>
    </div>
  </div>

  <% if activity.description.present? %>
    <div class="activity-description">
      <h4>Description:</h4>
      <p><%= simple_format(activity.description) %></p>
    </div>
  <% end %>
</div>
