<div id="<%= dom_id activity %>">
  <p>
    <strong>Distance:</strong>
    <%= activity.distance %>
  </p>

  <p>
    <strong>Elapsed time:</strong>
    <%= activity.elapsed_time %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= activity.type %>
  </p>

  <p>
    <strong>Kudos count:</strong>
    <%= activity.kudos_count %>
  </p>

  <p>
    <strong>Average heart rate:</strong>
    <%= activity.average_heart_rate %>
  </p>

  <p>
    <strong>Max heart rate:</strong>
    <%= activity.max_heart_rate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

</div>
